<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Secret Management Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1>Google Cloud Secret Manager Access Demo</h1>
    <h2>Enter the secret value for the displayed secret name for validation</h2>
    <h3><%= locals.secretName %>:</h3>
    <form action="/secret-manager/validate" method="post">
      <input type="text" name="secretValue" placeholder="secret" />
      <input type="hidden" name="secretName" value=<%= locals.secretName %>>
      <button type="submit">Validate Secret</button>
    </form>
    <% if(locals.validated) { %>
        <h2>Valid</h2>
    <% } else if (locals.invalidated){ %>  
        <h2>Invalid</h2>
    <% } %>
    <a href="/">Click Here</a> to return to the index page
  </body>
</html>
