<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
            <h2>GCP PubSub Demo</h2>

            <a href="/pubsub">Click Here to try PubSub</a>
        </div>
<hr class="solid">
<div>
    <p>To test the logging framework, click on the following links: </p>
    <ul>
        <li><a href="infoMsg">Log an info message</a></li>
        <li><a href="warnMsg">Log a warning message</a></li>
        <li><a href="errorMsg">Log an error message</a></li>
    </ul>
</div>
</body>
</html>
