<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Google Cloud Storage</h1>

<hr class="solid">
<!-- On submission, redirect to POST /storage -->
<form action="/gcstorage/upload"  method="post">

    <p>Enter a name for your blob: <input type="text" name="blobName" /></p>

    <p>For demo purposes, this blob will contain the string "Hello World!"</p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<a href="/">Go back</a>
<hr class="solid">
<% if(locals.bucketName) { %>
<div>
    <h3>Nodejs Sample Accessing Storage Bucket: <%= bucketName %> </h3>
    <p>Files in bucket:</p>
    <% files.forEach(file => { %>
        <% file.forEach(f => { %>
            <p>--- <%= f.name %> </p>
        <% }) %>
    <% }) %>
</div>
  <% } %> 
<% if(locals.error) { %> 
    <div>ERROR: Exception Caught - <%= error %> </div>
    <% } %> 
</body>
</html>
