<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Secret Management Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Google Cloud Secret Manager Access Demo</h1>

    <!-- On submission, redirect to GET /secret/value -->
    <h2>Loading secrets via Secret Manager API:</h2>
    <% if(locals.secretName) { %> 
    <p>Secret Id is: <%= secretName %> </p>
    <form action="/secret-manager/value" method="post">
        <button type="submit">Retrieve secret</button>
    </form>
    <p>Secret Value (masked): <%= secretValue || '' %> </p>
    <% } %> 
    <a href="/">Click Here</a> to return to the index page
    <% if(locals.error) { %> 
       <div>ERROR: Exception Caught - <%= error %> </div>
    <% } %> 
</body>
</html>
