/* 
===========================================================================
This sample code is created by the Architecture as Code team at TELUS.
The main purpose of this code is to give developers at TELUS a reference
and starting point for their projects.
As a TELUS Developer, you may update your copy of this code per your needs.
===========================================================================
Last updated: 02-28-2024
Description: CSS module for app/layouts styles
===========================================================================
*/
.pageHeader {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
}

.pageHeader__logo {
  order: 1;
}

.pageHeader__profile {
  order: 2;
  margin-left: auto;
  display: flex;
  align-self: center;
}

.pageContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 20px;
}

.pageLayout {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageMain {
  flex: 1;
}

.footerBackground {
  background-color: #f4f4f7;
}
