<configuration>
    <!-- Single-line JSON appender example for GCP -->
    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- Pattern defining the log message -->
                <pattern>
                    <pattern>
                        {"timestamp": "%date{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}", "level": "%level" , "thread": "%thread", "logger": "%logger", "message" : "%message %exception{5}", "context": "%contextName"}
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!--
    Example profile for logging in a local environment/codespaces. Prints "pretty"
    JSON logs to the console.
    -->
    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>

    <!--
    Example profile for environments "test", "dev", "st", and "pr". Prints single-line
    JSON logs to the console.
    -->
    <springProfile name="test,dev,st,pr">
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>
    
</configuration>
