<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Secret Management Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Google Cloud Secret Manager Access Demo</h1>

    <p>Secret value loaded via Spring annotation (masked): <span th:text="${annoSecret}" /></p>

    <!-- On submission, redirect to GET /secret/value -->
    <h2>Loading secrets via Secret Manager API:</h2>

    <p>Secret Id is: <span th:text="${secretId}" /></p>
    <a href="/secret/value"><button type="button">Retrieve secret</button></a>

    <p th:text="${secretData}" />

    <a href="/">Click Here</a> to return to the index page
</body>
</html>
